<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wedding">
    <application
        android:label="wedding"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
